<!DOCTYPE html>
<html>
<head>
  <title>WebtopayApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_for WebToPay::Payment.new, url: order_products_path do |f| %>
  <%= f.text_field :p_name %>
  <%= f.text_field :p_surname %>
  <%= f.text_field :p_email %>
  <%= f.submit "test paying" %>
<% end %>

<% if false %>
	<%= yield %>
<% end %>

</body>
</html>
